<!DOCTYPE html>
<html lang="ru">

<html>
<head>
    <link href="{{ url_for('static', path='/first_page.css') }}" rel="stylesheet">
    <link href="{{ url_for('static')}}"/>
    <link rel="shortcut icon" href="../static/Logo.jpg" />
    <meta charset="UTF-8">
    <meta name="description" content="Online Tasker">
    <meta name="keywords" content="Tasker Mipt Задавальник МФТИ">
    <meta name="author" content="Likhterman, Korobko, Kamlev">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:type" content="Tasker"/>
    <meta property="profile:first_name" content="Виталии и Андрей"/>
    <meta property="profile:last_name" content="Лихтерман, Коробко, Камлев"/>
    <meta property="profile:username" content="Tasker"/>
    <meta property="og:title" content="Tasker"/>
    <meta property="og:description" content="Онлайн-задавальник"/>
    <meta property="og:image" content="../static/Logo.jpg"/>
    <meta property="og:url" content="https://online-tasker.onrender.com/"/>
    <meta property="og:site_name" content="Tasker"/>
    <meta itemprop="name" content="Онлайн-Задавальник">
    <meta itemprop="description" content="Найти номер? Мы поможем">
    <meta itemprop="image" content="../static/Logo.jpg">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Онлайн задавальник</title>
</head>
<body>
    <section>
      <div class ="name">
          <h1>Онлайн задавальник</h1>
      </div>
        <div class ="DropdownLists">
            <form action="/tasks" method="post" type="submit">
              <select id="schools" name="school">
                <option value="0">-- Выберите физтех-школу --</option>
                <hr />
                <option value="1">ВШПИ</option>
                <option value="2">ФЭФМ</option>
              </select>

              <select id="semester" name = "semester" disabled>
                <option value="0">-- Выберите семестр --</option>
              </select>

              <select id="subject" name="subject" disabled>
                <option value="0">-- Выберите предмет --</option>
              </select>

              <select id="number_task" name="number_task" disabled>
                <option value="0">-- Выберите номер задания --</option>
              </select>

              <script src="../static/first_page.js"></script>

                <input type="submit" value="Подтвердить">
            </form>
        </div>
    </section>
        <div class="Authors">
            <h2>Created by Likhterman, Korobko and Kamlev<br/>for MIPT</h2>
        </div>
</body>
</html>