<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="shortcut icon" href="../static/Logo.jpg" />
    <link href="{{ url_for('static')}}" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/second_page.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
<input type = "hidden" id = 'school' value = {{school}} />
<input type = "hidden" id = 'semester' value = {{semester}} />
<input type = "hidden" id = 'subject' value = {{subject}} />
<input type = "hidden" id = 'number_task' value = {{number_task}} />
<script src="../static/second_page.js"></script>
</body>
</html>