<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/third_page.css">
    <title>Image</title>
</head>
<body>
<div class="container">
    <input type = "hidden" id = 'source' value = {{source}} />
    <input type = "hidden" id = 'index' value = {{index}} />
    <div id="popup_gallery" class="popup_gallery">
        <img class="currentImage" src={{image}} alt="Картинка">
        <a class="prev">&#10094;</a>
        <a class="next">&#10095;</a>
    </div>
    <div class="number">
        <h2>№{{number}}</h2>
    </div>
</div>
    <script src="../static/third_page.js"></script>
</body>
</html>