body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display:flex;
    height:100%;
    position:relative;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

.number {
    position: fixed;
    top: 10px; /* Отступ от верхнего края экрана */
    right: 20px;
    display: flex;
    z-index:1000;
}

h2 {
    color: #a59f9f;
    top: 50px;
    font-size:30px;
    text-align: center;
}

.popup_gallery {
    overflow: auto;
    width: 100%;
    max-height: 150%;
    margin-right: auto;
    margin-left: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
}

.currentImage {
    max-width: 100%;
    height: auto;
    width: auto;
    margin: auto;
    display: flex;
}

.prev,
.next {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 30px;
    padding: 16px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s ease;
}

.next {
    margin-right:5px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
