body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
}

.popup_gallery {
    position: relative;
    text-align: center;
}

.currentImage {
    max-height: 60%;
    display: flex;
    margin: 0 auto;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 30px;
    padding: 16px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s ease;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
